/* Reset default margin and padding for the entire page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Add some basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #909394;
}

header {
    background-color: #504e4e;
    color: #f1e9e9;
    text-align: center;
    padding: 20px 0;
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 20px 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

section {
    padding: 40px 0;
    text-align: center;
}

.section-content {
    max-width: 800px;
    margin:  auto;
}

.project {
    margin: 20px 0;
    color: rgb(101, 98, 104);
    text-align: center;
}

/* Add more CSS to style your page as you like */
